@import url('./description/description.css');
@import url('./image/image.css');
@import url('./like-button/like-button.css');
@import url('./like-count/like-count.css');
@import url('./like-button/is-active/like-button-is-active.css');
@import url('./control/control.css');
@import url('./control-button/control-button.css');
@import url('./control-button/type/control-button-type-delete.css');
@import url('./control-button/type/control-button-type-info.css');
@import url('./title/title.css');

.card {
  font-family: 'Inter', Arial, sans-serif;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}