@import url('./content/content.css');
@import url('./content/content/content-content-image.css');
@import url('./content/content/content-content-info.css');
@import url('./close/close.css');
@import url('./title/title.css');
@import url('./form/form.css');
@import url('./input/input.css');
@import url('./input/type/input-type-error.css');
@import url('./button/button.css');
@import url('./button/disabled/button-disabled.css');
@import url('./caption/caption.css');
@import url('./image/image.css');
@import url('./label/label.css');
@import url('./error/error.css');
@import url('./text/text.css');
@import url('./error/visible/error-visible.css');
@import url('./info/info.css');
@import url('./info-item/info-item.css');
@import url('./info-description/info-description.css');
@import url('./info-term/info-term.css');
@import url('./list/list.css');
@import url('./list-item/list-item.css');
@import url('./list-item/type/list-item-type-badge.css');


.popup {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*Стили для плавного появления модалки*/
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0.3s, opacity 0.3s;
  z-index: 10;
}